@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: purple;
  font-weight: 600;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: center;
}

table {
    width: 100%;
}

th,td {
    border: solid 1px black;
}

th {
  text-align: center;
  background-color: #faf;
}

td {
  text-align: left;
  background-color: #fef;
}